extends layout

block content
  .inner
    h2 Edit Your Account
    form(action="/account" method="POST")
      label(for="name") Name
      input(for="name" type="text" value=user.name)
      label(for="email") Email
      input(for="email" type="email" value=user.email)
      input.button(type="submit" value="Update my Account")
